<div class="col-lg-6">
    <div class="card">
        <div class="px-4 py-3 border-bottom">
            <h4 class="card-title mb-0">Basic Layout</h4>
        </div>
        <div class="card-body">
            <div class="mb-4 row align-items-center">
                <label
                    for="exampleInputText1"
                    class="form-label col-sm-3 col-form-label"
                    >Name</label
                >
                <div class="col-sm-9">
                    <input
                        type="text"
                        class="form-control"
                        id="exampleInputText1"
                        placeholder="John Deo"
                    />
                </div>
            </div>
            <div class="mb-4 row align-items-center">
                <label
                    for="exampleInputText2"
                    class="form-label col-sm-3 col-form-label"
                    >Company</label
                >
                <div class="col-sm-9">
                    <input
                        type="text"
                        class="form-control"
                        id="exampleInputText2"
                        placeholder="ACME Inc."
                    />
                </div>
            </div>
            <div class="mb-4 row align-items-center">
                <label
                    for="exampleInputText30"
                    class="form-label col-sm-3 col-form-label"
                    >Email</label
                >
                <div class="col-sm-9">
                    <div class="input-group border rounded-1">
                        <input
                            type="text"
                            class="form-control border-0"
                            id="exampleInputText30"
                            placeholder="John Deo"
                        />
                        <span
                            class="input-group-text bg-transparent px-6 border-0"
                            id="basic-addon1"
                            >@example.com</span
                        >
                    </div>
                </div>
            </div>
            <div class="mb-4 row align-items-center">
                <label
                    for="exampleInputText3"
                    class="form-label col-sm-3 col-form-label"
                    >Phone No</label
                >
                <div class="col-sm-9">
                    <input
                        type="text"
                        class="form-control"
                        id="exampleInputText3"
                        placeholder="412 2150 451"
                    />
                </div>
            </div>
            <div class="mb-4 row align-items-center">
                <label
                    for="exampleInputText29"
                    class="form-label col-sm-3 col-form-label"
                    >Message</label
                >
                <div class="col-sm-9">
                    <textarea
                        class="form-control p-7"
                        name=""
                        id="exampleInputText29"
                        cols="20"
                        rows="1"
                        placeholder="Hi, Do you  have a moment to talk Jeo ?"
                    ></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <button class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
